= component_block :button, :button, { type: 'button', class: "button", data: { component_template: "ButtonComponent", component_attribute_properties: "lockable:data-lockable" }} do
  = property :caption, "span"
