.simpleNotification{ data: { component_template: "SimpleNotificationComponent", component_attribute_properties: "autohide_delay,permanent,container_selector", component_roles: "simple_notification" }}
  .container
    .message{ data: { component_property: "message", component_part: "message" }}
    = image_tag "close_simple_notification.svg", class: "close", data: { component_part: "close" }
