%form{ action: path, method: "POST" }
  %input{ name: "_method", type: "hidden", value: verb }
  %input{ name: "authenticity_token", type: "hidden", value: form_authenticity_token }
  = component :button, { value: caption }.merge(options)
